app = "aiengineerpractice"
primary_region = "lhr"

[build]
  dockerfile = "Dockerfile"

[env]
  SERVER_PORT = "8080"
  JAVA_TOOL_OPTIONS = "-Xms256m -Xmx1024m"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "requests"
    soft_limit = 200
    hard_limit = 250

